@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.valleyListPage {
  min-width: 360px;
  margin-top: 180px;
}

.body {
  padding: 0 7%;
  margin: 4em 0 6em 0;
  display: flex;
  height: 47em;
  justify-content: center;
}

.valleyContainer {
  width: 100%;
  margin-left: 1em;
  max-width: 90em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5em;
}

.sort {
  display: flex;
  align-items: center;
  margin-right: 3em;
}

.valleyList {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1400px) {
  .body {
    height: auto;
  }
}

@media screen and (max-width: 850px) {
  .valleyContainer {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .valleyContainer {
    margin-left: 0em;
  }

  .top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1.2em;
  }
}

@media screen and (max-width: 500px) {
  .body {
    margin-top: 2em;
  }
}

@media screen and (max-width: 480px) {
  .valleyContainer {
    width: 70%;
  }
}

@media screen and (max-width: 450px) {
  .valleyContainer {
    width: 65%;
  }
}
