@import '@styles/variables.scss';

.valleyItem {
  display: flex;
  margin-bottom: 1.5em;
  margin-left: 1.2em;
  max-width: calc(100% / 3 - 1.2em);
  width: 100%;
  min-width: 310px;
  cursor: pointer;
  position: relative;
  height: 140px;

  > div {
    &:first-child {
      width: 290px;
      height: 140px;
      box-sizing: border-box;
    }

    > img {
      border-radius: 10px 0 0 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.valleyInfo {
  border: 1px solid $light-gray;
  border-left: none;
  border-radius: 0 10px 10px 0;
  padding: 1em 0.5em 1em 1em;
  width: 100%;
}

.valleyName {
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  max-width: 13em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.valleyRegion {
  display: block;
  color: #505050;
  margin: 0.5em 0 0.5em 0;
  max-width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.valleyType {
  display: flex;
}

.valleyCategory {
  color: $primary;
  border: 1px solid $primary;
  font-size: 0.9rem;
  padding: 0.1em 0.5em;
  border-radius: 20px;
  display: block;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.reviewContainer {
  position: absolute;
  bottom: 10px;
}

.valleyRating {
  > span {
    &:first-child {
      color: $primary;
      font-weight: bold;
    }

    &:last-child {
      color: #b8b8b8;
      font-weight: bold;
      margin-right: 1em;
    }
  }
}

.valleyReview {
  color: $primary;
  font-weight: bold;
}

@media screen and (max-width: 1900px) {
  .valleyName {
    max-width: 11em;
  }

  .valleyRegion {
    max-width: 13em;
  }
}

@media screen and (max-width: 1750px) {
  .valleyName {
    max-width: 9em;
  }

  .valleyRegion {
    max-width: 10em;
  }
}

@media screen and (max-width: 1550px) {
  .valleyName {
    max-width: 7em;
  }

  .valleyRegion {
    max-width: 9em;
  }
}

@media screen and (max-width: 1400px) {
  .valleyItem {
    max-width: calc(100% / 2 - 1.2em);
  }

  .valleyName {
    max-width: 13em;
  }

  .valleyRegion {
    max-width: 15em;
  }
}

@media screen and (max-width: 1250px) {
  .valleyName {
    max-width: 11em;
  }

  .valleyRegion {
    max-width: 13em;
  }
}

@media screen and (max-width: 1100px) {
  .valleyName {
    max-width: 9em;
  }

  .valleyRegion {
    max-width: 10em;
  }
}

@media screen and (max-width: 1050px) {
  .valleyName {
    max-width: 7em;
  }

  .valleyRegion {
    max-width: 9em;
  }
}

@media screen and (max-width: 950px) {
  .valleyItem {
    max-width: 100%;
  }

  .valleyName {
    max-width: 100%;
  }

  .valleyRegion {
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .valleyName {
    max-width: 13em;
  }

  .valleyRegion {
    max-width: 15em;
  }
}

@media screen and (max-width: 700px) {
  .valleyName {
    max-width: 11em;
  }

  .valleyRegion {
    max-width: 13em;
  }
}

@media screen and (max-width: 620px) {
  .valleyName {
    max-width: 9em;
  }

  .valleyRegion {
    max-width: 10em;
  }
}

@media screen and (max-width: 550px) {
  .valleyName {
    max-width: 7em;
  }

  .valleyRegion {
    max-width: 9em;
  }
}

@media screen and (max-width: 500px) {
  .valleyItem {
    flex-direction: column;
    height: auto;
    min-width: 0px;
  }

  .valleyItem > div:first-child {
    width: 100%;
    min-width: 0px;
    height: 180px;
    box-sizing: border-box;
  }

  .valleyItem > div > img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .valleyInfo {
    border: 1px solid #cccccc;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 1em 0.5em 0.8em 1em;
    width: 100%;
    box-sizing: border-box;
  }

  .valleyName {
    max-width: 13em;
  }

  .valleyRegion {
    max-width: 15em;
  }

  .reviewContainer {
    position: static;
  }
}

@media screen and (max-width: 480px) {
  .valleyName {
    max-width: 11em;
  }

  .valleyRegion {
    max-width: 13em;
  }
}

@media screen and (max-width: 450px) {
  .valleyName {
    max-width: 9em;
  }

  .valleyRegion {
    max-width: 10em;
  }
}

@media screen and (max-width: 400px) {
  .valleyName {
    max-width: 7em;
  }

  .valleyRegion {
    max-width: 9em;
  }
}
