.toggleBtn {
  background-color: #66a5fc;
  width: 30px;
  height: 16px;
  border-radius: 30px;
  margin-right: 0.4em;
  display: flex;
  align-items: center;
  padding: 0.2em;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 2s;
}

.toggleSwitchOn,
.toggleSwitchOff {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.toggleSwitchOn {
  transform: translateX(14px);
  transition: all 0.2s;
}

.toggleSwitchOff {
  transform: translateX(-0.5px);
  transition: all 0.2s;
}

.cursor {
  cursor: pointer;
}
