@import '@styles/mixins.scss';
@import '@styles/variables.scss';

.confirmCode {
  margin-top: 1em;

  > span {
    color: #787878;
    font-size: 0.9rem;
  }
}

.timer {
  margin-left: 0.5em;
}

.confirmCodeInput {
  display: flex;
  align-items: center;

  input {
    @include input($margin: 0 0.5em 0 0);
    border-radius: 8px;
    width: 100%;
    padding: 0.8em 1em;
  }

  button {
    @include button($margin: 1em 0);
    border-radius: 8px;
    min-width: 70px;
  }
}

@media screen and (max-width: 700px) {
  .confirmCode {
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  .confirmCode {
    margin-top: 1em;

    > span {
      font-size: 0.8rem;
    }
  }
}
