@import '@styles/variables.scss';

.input {
  border: 1px solid #b8b8b8;
  border-radius: 7px;
  padding: 0.8em 1.5em;
  font-size: 1rem;
  margin-top: 0.8em;

  &:focus {
    border: none;
    outline: 1px solid $primary;
  }

  &::placeholder {
    color: #b8b8b8;
  }
}
