@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.loginPage {
  min-width: 360px;
  width: 100%;
}

.body {
  margin-top: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

.loginContainer {
  text-align: center;
  border: 1px solid $light-gray;
  border-radius: 10px;
  padding: 1.8em 2.5em;
  box-sizing: border-box;
  width: 100%;
  max-width: 480px;
}

.loginInput {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;

  input {
    @include input($margin: 0.8em 0 0 0);

    &:focus {
      outline: 1px solid $primary;
      border: none;
    }
  }

  button {
    @include button($margin: 1.5em 0 0 0);
  }
}

.passwordAlert {
  font-size: 0.8rem;
  text-align: left;
  display: block;
  margin: 0.5em 0 0 0.5em;
  color: #ea0e00;
}

.socialLogin {
  margin-top: 2.5em;
}

.loginFind {
  margin-top: 1.5em;
  margin-bottom: 6em;
  text-align: center;

  span {
    color: #787878;
    cursor: pointer;
    border-bottom: 1px solid #787878;
    margin: 0 1em;
  }
}

@media screen and (max-width: 700px) {
  .loginContainer {
    padding: 1.8em 1.5em;
  }
}

@media screen and (max-width: 500px) {
  .loginContainer {
    padding: 1.8em 1.2em;
  }
}

@media screen and (max-width: 400px) {
  .loginContainer {
    padding: 1.8em 1.2em;
  }

  .loginFind span {
    font-size: 0.9rem;
  }
}
