.container {
  height: 5.5em;
  border: 1px solid #8e8e8e;
  border-top: none;
  border-left: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.2em;

  &:nth-child(7n) {
    border-right: none;
  }

  &:nth-child(-n + 14) {
    border-top: 1px solid #8e8e8e;
  }

  p {
    position: relative;
    z-index: 2;
    margin-top: 0.7em;
    height: fit-content;
    text-align: right;
  }
}

.peopleCnt {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 950px) {
  .peopleCnt {
    width: 80%;
    height: 5px;
  }
}

@media screen and (max-width: 700px) {
  .peopleCnt {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .cotanier {
    padding: 0 0.8em;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 0.6em;

    p {
      font-size: 0.8rem;
    }
  }
}
