.dangerSegments {
  background-color: rgb(255, 245, 244);
  border-radius: 10px;
  width: 600px;
  z-index: 5;
  position: fixed;
  left: 50%;
  bottom: 0;
  margin-bottom: 30px;
  margin-left: -300px;
  padding: 1em 1.5em;
  box-shadow: 0 2px 4px rgb(198, 198, 198);
  box-sizing: border-box;

  > span {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #838383;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;

  span {
    &:first-child {
      margin-right: 0.5em;
      font-size: 0.9rem;
    }

    &:last-child {
      color: rgb(230, 146, 139);
      font-weight: 700;
      font-size: 0.9rem;
    }
  }
}

.contents {
  color: #616161;
  font-weight: 500;
}

@media screen and (max-width: 730px) {
  .dangerSegments {
    width: 500px;
    margin-left: -250px;
  }
}

@media screen and (max-width: 600px) {
  .dangerSegments {
    width: 400px;
    margin-left: -200px;
  }

  .title {
    margin-bottom: 0.5em;

    span {
      &:first-child,
      &:last-child {
        font-size: 0.8rem;
      }
    }
  }

  .contents {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 430px) {
  .dangerSegments {
    width: 340px;
    margin-left: -170px;
  }
}
