@import '@styles/variables.scss';

.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  border-bottom: 1px solid #dadada;
  background-color: white;
}

.headerWrapper {
  padding: 1em 7% 0;
  z-index: 6;
  position: relative;
  box-sizing: border-box;
  max-width: 2560px;
  margin: 0 auto;
}

.headertop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
  cursor: pointer;

  > span {
    font-size: 25px;
    color: #787878;
  }
}

.logo {
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
}

.alarm {
  color: $primary;
  font-size: 1.3rem;
  position: relative;
  margin-right: 1em;
  cursor: pointer;
  padding-top: 0.3em;

  > span {
    color: rgb(219, 62, 62);
    position: absolute;
    top: -8px;
    right: -4px;
  }
}

.chatIcon {
  color: $primary;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 0.8em;
  padding-top: 0.2em;
}

.myPage,
.logout {
  border: 1px solid #dadada;
  padding: 0.8em 1.5em;
  border-radius: 30px;
  font-size: 0.8rem;
  cursor: pointer;
}

.myPage {
  margin-right: 1em;
  border: 1px solid $primary;
  color: $primary;
}

.myPageIcon,
.logOutIcon {
  display: none;
  font-size: 22px;
  color: #787878;
}

.signup {
  > span {
    border: 1px solid #dadada;
    padding: 0.8em 1.5em;
    border-radius: 30px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-right: 1em;

    &:last-child {
      border: 1px solid $primary;
      color: $primary;
    }
  }
}

.nav,
.mobileNav {
  padding: 0 10%;
  display: flex;
}

.mobileNav {
  border-bottom: 1px solid #dadada;
  position: relative;
  z-index: 5;
  display: none;
  transform: translateY(-35px);
  transition: all 0.3s;

  &.clicked {
    transform: translateY(5px);
    transition: all 0.3s;
  }
}

.navMenu {
  cursor: pointer;
  display: block;
  padding: 1.5em 0 0.8em 0;
  margin-right: 5em;
  font-size: 1.1em;
  font-weight: bold;

  &.clicked {
    border-bottom: 3px solid $primary;
    color: $primary;
  }
}

.mobileNavMenu {
  cursor: pointer;
  display: block;
  padding: 0.8em 0;
  margin-right: 3em;
  font-size: 0.9em;
  font-weight: bold;

  &.clicked {
    color: $primary;
  }
}

@media screen and (max-width: 500px) {
  .headerWrapper {
    padding: 1em 7% 0;
    border: none;
  }

  .hamburger {
    display: block;
  }

  .nav {
    display: none;
  }

  .signup {
    display: flex;
    justify-content: flex-end;
  }

  .signup {
    > span {
      border: 1px solid #dadada;
      padding: 0.8em 1.2em;
      border-radius: 30px;
      font-size: 0.6rem;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .headertop {
    > div {
      width: calc(100% / 3);
    }
  }

  .login {
    display: flex;
    justify-content: flex-end;

    span {
      border: none;
      padding: 0;
      border-radius: 0;
    }
  }

  .myPage,
  .logout {
    display: none;
  }

  .myPageIcon,
  .logOutIcon {
    display: block;
  }

  .myPageIcon {
    margin-right: 1.2em;
  }

  .mobileNav {
    display: flex;
    background-color: white;
  }
}

@media screen and (max-width: 470px) {
  .logo {
    img {
      width: 100px;
    }
  }

  .signup {
    > span {
      padding: 0.4em 1em;
    }
  }
}

@media screen and (max-width: 430px) {
  .signup {
    > span {
      &:first-child {
        display: none;
      }
    }
  }
}
