@import '@styles/variables.scss';

.report {
  margin-top: 1.5em;
  flex-grow: 1;
}

.menu {
  margin-left: 0.5em;
  display: flex;
  align-items: center;

  span {
    margin-right: 0.6em;
    font-size: 0.9rem;
    color: $primary;
  }
}
