@import '@styles/variables.scss';

.body {
  margin-top: 180px;
  margin-bottom: 8em;
  padding: 0 10%;
}

.lostItemPost {
  border: 1px solid $light-gray;
  border-radius: 10px;
  padding: 1.5em 3em 2em;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    font-size: 1.1rem;
    margin: 1.5em 0;
  }
}

.locationInfo {
  display: flex;
  align-items: center;
  margin-bottom: 1.2em;

  h4 {
    margin: 0 0.5em 0 0.3em;
    color: #616161;
    font-size: 1.1rem;
  }

  span {
    color: #bebebe;
    font-size: 1rem;
  }
}

.postTop {
  display: flex;
  justify-content: space-between;
}

.authorInfo {
  display: flex;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 0.5em;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
  }
}

.authorName {
  h4 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
  }

  span {
    font-size: 0.9rem;
    color: #b2afaf;
  }
}

.chatBtn {
  display: flex;
  align-items: center;
  color: $primary;
  font-weight: bold;
  cursor: pointer;

  span {
    margin-left: 0.2em;
  }
}

.imageList {
  display: flex;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.imageContainer {
  width: 400px;
  height: 260px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 1em;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
  }
}

.postBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5em;
}

.comment {
  display: flex;
  align-items: center;
  color: $primary;
  font-weight: 600;
  font-size: 1.1rem;

  span {
    margin-left: 0.4em;
  }
}

.modifyBtn {
  display: flex;
  align-items: center;
}

.solvedStatus {
  display: flex;
  align-items: center;
  margin-right: 1.5em;

  > span {
    color: #616161;
    font-weight: 500;
  }
}

.checkBox {
  padding: 0.2em;
  border-radius: 4px;
  display: flex;
  margin-right: 0.5em;
  cursor: pointer;
  background-color: #eeeeee;
  color: #999999;
}

.checked {
  background-color: $primary;
  color: white;
}

.deleteBtn {
  display: flex;
  color: #8b8b8b;
  font-weight: bold;

  > div {
    &:first-child {
      padding-right: 0.8em;
      border-right: 1px solid #b5adad;
    }

    &:last-child {
      padding-left: 0.8em;
    }
  }

  span {
    cursor: pointer;
  }
}

.postComment {
  display: flex;
  margin: 1.5em 0;
}

.commentInput {
  display: flex;
  border: 1px solid $light-gray;
  border-right: none;
  padding: 0.8em 3em;
  border-radius: 8px 0 0 8px;
  flex-grow: 1;

  input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 1rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #656565;
      font-size: 1rem;
    }
  }
}

.commentUser {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
  margin-right: 2em;
}

.uploadBtn {
  background-color: $primary;
  border-radius: 0 8px 8px 0;
  padding: 1em 1.4em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}

.commentList {
  margin-top: 1em;
  padding: 0 3em;
}
