@import '@styles/variables.scss';

.search {
  margin: 1em 0;
  position: relative;

  input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $light-gray;
    padding: 0.6em 1em;
    border-radius: 8px;
    font-size: 1rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #656565;
      font-size: 1rem;
    }
  }

  span {
    position: absolute;
    font-size: 1.2rem;
    color: #747474;
    right: 25px;
    top: 10px;
    cursor: pointer;
  }
}
