@mixin category-btn(
  $padding,
  $radius,
  $margin-right,
  $width: auto,
  $display: block
) {
  border: 1px solid #dddddd;
  background-color: white;
  cursor: pointer;
  padding: $padding;
  border-radius: $radius;
  margin-right: $margin-right;
  width: $width;
}

@mixin button($margin) {
  background-color: $primary;
  border: none;
  color: white;
  padding: 0.8em;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  margin: $margin;
}

@mixin border-btn {
  background-color: white;
  color: $primary;
  border: 1px solid $primary;
  font-size: 0.9rem;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  margin: 0.6em 0 0 1em;
  white-space: nowrap;
}

@mixin input($margin) {
  border: 1px solid #b8b8b8;
  border-radius: 7px;
  padding: 0.8em 1.5em;
  font-size: 1rem;
  margin: $margin;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #b8b8b8;
  }
}
