@import '@styles/variables.scss';

.chatComponent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 0;
  box-sizing: border-box;
}

.messageList {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ref {
  width: 100%;
  height: 10px;
}

.sendMessage {
  > div {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 0.5em;
    align-items: center;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: none;
    border-radius: 30px;
    font-size: 0.9rem;
    padding: 0.8em 1.4em;
    margin-right: 1em;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #939393;
    }
  }

  button {
    background-color: transparent;
    border: none;
    width: fit-content;
    cursor: pointer;
    white-space: nowrap;
    color: $primary;
    font-weight: 700;
    font-size: 0.9rem;
  }
}

.imageIcon {
  color: $primary;
  cursor: pointer;
  display: block;
  margin-right: 0.5em;
  font-size: 1.2rem;

  > label {
    cursor: pointer;
  }
}

.imgInput[type='file'] {
  display: none;
}

.previewImg {
  height: 150px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 1.5em;
}

.imageContainer {
  display: inline-block;
  position: relative;
  margin-right: 1.5em;
  border: 1px solid #b5b5b5;
  border-radius: 10px;

  > div {
    width: 170px;
    height: 130px;
    overflow: hidden;

    > img {
      margin: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 9px;
    }
  }
}

.chatImage {
  max-width: 200px;
  border-radius: 5px;
}

.newMessageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 60px;
}

.newMessage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: rgba(242, 242, 242, 0.645);
  border-radius: 5px;
  cursor: pointer;

  p {
    margin: 0;
    padding: 0.8em;
    font-size: 0.8rem;
    color: #6d6d6d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    display: block;
    margin-right: 0.5em;
    color: #888888;
  }
}
